$primary: #131f48;
$primary-alt: #232c68;
$secondary: #fcb526;
$secondary-alt: #ffc844;
$secondary-dark: #9c6026;

$text-primary: rgba(0,0,0,0.87);
$text-secondary: rgba(0,0,0,0.54);
$text-tertiary: rgba(0,0,0,0.38);

$text-primary-inverse: rgba(255,255,255,0.99);
$text-secondary-inverse: rgba(255,255,255,0.7);
$text-tertiary-inverse: rgba(255,255,255,0.5);